h4 {
     margin-bottom: 0;
     text-decoration: underline;
}
 div.category_actions {
    border: 1px solid #ccc;
    padding: 3px;
    /*font-size: 12px;*/
    width: 50%;
}
.flash {
    width: 75%;
    border: 1px solid #ccc;
    background-color: #ffc;
    padding: 2px 5px;
    font-weight: bold;
    color: #d00;
}
.list_wrapper {
    width: 98%;
    margin-bottom: 10px;
}
div.list_rows {
    margin-top: 0; padding-top: 0;
}
table.list {
    clear: both;
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
    font-size: 8pt;
    /*line-height: 11pt;*/
}
/* todo move this outside into cm/assets/stylesheets */
    table.list thead tr {
        background: #e7e5dc;
        border: 1px solid #cfcfcf;
    }
    table.list tbody tr:hover {
        background-color: #f8f8f1;
    }

    table.list th {
        color: #575751;
        font-weight: bold;
        text-align: left;
        white-space: nowrap;
        border-left: 1px solid #cfcfcf;
        padding: 5px 5px 5px 5px;
    }
    table.list th a {
        width: 100%;
        color: #afad99;
    }

    table.list th a:hover {
        color: #87846a;
        }

    table.list th.sorted {
        background-color: #f5f4dc;
    }

    table.list th.sorted a {
        color: #575751;
        text-decoration: none;
        cursor: default;
        }

table.list td.action_link {
    text-align: right;
    padding: 0px 5px;
    white-space: nowrap;
    /*font-size: 7pt;*/
    text-decoration: none !important;
}

table.list td {
    border:1px solid #f1f1e5;
    border-top-width: 0;
    padding: 0 5px;
    margin: 0;
    vertical-align: top;
    line-height: 12px;
    /*padding-top: 1px;*/
}

table.list td:hover {
	background: #dbdad1;
	}

.button {
    cursor: pointer;
    text-decoration: underline;
}

/* filters */
    form.frm_filter, form.frm_filter table {
        margin: 0; padding: 0;
    }
    #bt_show_filters {
        padding: 0 3px;
        text-align: center;
        display: block;
        text-decoration: none;
        background: #f8f8f1;
        color: #afad99;
        border: 1px solid #dbdad1;
        width: 90px;
    }
    #bt_show_filters:hover {
        border: 1px outset #f8f8f1;
    }
    #filters {
        display: none;
    }

    #filters table {
        display: block;
        width: 98%;
        border: 1px solid #ccc;
        background-color: #E7E5DC;
        margin-bottom: 4px;
        font-size: 10px;
    }
    #filters label {
        font-weight: bold;
        padding-right: 2px;
    }
    #filters input, #filters select {
        font-size: 10px;
    }

/* deprecated  27-nov-2007
table.view_form th {
    text-align: left;
    vertical-align: top;
}
*/

p.form_element label {
   width: 350px; 
   display: block;
   font-weight: bold;
}

p.form_element input, p.form_element select, p.form_element textarea {
        font-family: "courier new", monospace;
        width: 350px;
        font-size: 14px;
}
p.form_element textarea.large {
        height: 200px;
        width: 450px;
}
/* 
 * this class is used by the date picker form control */
.date_picker_button {
    width: 35px !important;
}
.checkbox {
    width: 12px !important;
}

/* deprecated  27-nov-2007
.detail-even, .detail-odd {
    margin:0pt 0px 0pt -5px;
    padding:2px 0 15px 10px;
    border: 1px solid #e8e8e8;
}
.detail-odd {
    background-color:#F0EFE5;
}
.detail-even {
    background-color:#FFFFFA;
}
*/
/* deprecated  27-nov-2007
#tabmenu {
		color: #000;
		border-bottom: 0px solid black;
		margin: 2px 0px 3px 0px;
		padding: 0 5px 10px 10px;
		z-index: 1;
            }

	#tabmenu li {
		display: inline;
		overflow: hidden;
		list-style-type: none;
        }

	#tabmenu a, a.active {
		color: #DEDECF;
		background: #898B5E;
		border: 1px solid black;
		padding: 2px 8px 0px 8px;
		margin: 0 0px 5px 2px;
		text-decoration: none; }

	#tabmenu a.active {
		background: #ABAD85;
		border-bottom: 2px solid #ABAD85;
    }

	#tabmenu a:hover {
		color: #fff;
		background: #ADC09F; }

	#tabmenu a:visited {
		color: #E8E9BE;
    }

	#tabmenu a.active:hover {
		background: #ABAD85;
		color: #DEDECF;
    }
    */

/* this is used by the ajax spinner and the jquery goodness */
#spinner_div {
    position: absolute;
    right: 15px;
    top: 15px;
}
/* record selector mode for cm_list */
.cm_selected_record_row {
    background-color: #e7d37c;
}
.record_selector_column {
    width: 15px;
    text-align: center;
}
#record_selector_buttons_container input {
    margin-left: 15px;
}

/* paging */
.paging_page_description {
    font-size:12px;
    font-weight:normal;
    text-decoration: none;
    margin: 0; padding: 0;
    margin: 2px 0;
    font-style: italic;
}
.paging_container {
    background: #fff none repeat scroll 0%;
    border:1px solid #cfcfcf;
    color:#575751;
    margin:5px auto;
    padding:5px 0pt;
    text-align:center;
    width:50%;
}
.paging_page_numbers {
    margin-bottom:3px;
}
.paging_page_numbers table td {
    width:33%;
}
.paging_title {
    font-size:12px;
    font-weight:bold;
    letter-spacing:2px;
    text-decoration: none;
    margin: 0; padding: 0;
}
.paging_number_of {
    font-size:12px;
    letter-spacing:1px;
}
.paging_page_jump_button {
    background:#F8F8F1 none repeat scroll 0%;
    border:1px solid #575751;
    padding:2px 5px;
}
.paging_page_this_page, .paging_page_jump_button {
font-size:12px;
font-weight:bold;
margin:6px 3px 3px;
}
.paging_page_this_page {
color:#CC3311;
}

/* tooltips */
a.tooltip {
    position:relative; /*this is the key*/
    z-index:24; background-color:#f0f0f0;
    text-decoration:none;
    cursor: default;
}

a.tooltip:hover {
    z-index:25;
}

a.tooltip span {
    display: none;
}

a.tooltip:hover span{ /*the span will display just on :hover state*/
    display:block;
    position:absolute;
    top:2em; left:2em; width:15em;
    border:1px solid #cfcfcf;
    background-color:#E7E5DC;
    color: #575751;
    text-align: center;
}

.content_box
{
    background-color: #eee;
    border: 1px solid #000;
    padding: 15px;
    padding-top: 0px;
    margin-top: 15px;
    width: 60%;
    width: 750px;

}
.content_box h2 {
    border-bottom: 1px solid #000;
    height: 25px;
    font-size: 14px;
    line-height: 25px;
    margin: 0; margin-left: -15px; margin-bottom: 10px;
    padding-left: 15px;
    width: 765px;
    background-color: #fff;
}

.success_message, .error_message {
    padding: 5px 0 5px 15px;
    margin: 15px 0;
    width: 250px;
}
.error_message {
    background-color: #fbb !important;
}
.success_message {
    background-color: #ffb !important;
}
.success_message input {
    margin-top: 5px;
}
